<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title fxLayoutAlign="center center">
        <button mat-raised-button color="primary">Find Event</button>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <section fxLayout="row" fxLayoutAlign="space-evenly center">
      <form [formGroup]="firstFormGroup">
        <mat-form-field>
          <input matInput placeholder="Event name" formControlName="firstCtrl"
            (keyup)="doFilter($event.target.value, 'name')">
        </mat-form-field>
      </form>
      <form [formGroup]="secondFormGroup">
        <mat-form-field>
          <input matInput placeholder="Location" formControlName="secondCtrl"
            (keyup)="doFilter($event.target.value, 'location')">
        </mat-form-field>
      </form>
      <form [formGroup]="thirdFormGroup">
        <mat-form-field>
          <input matInput placeholder="Attendance of event" formControlName="thirdCtrl"
            (keyup)="doFilter($event.target.value, 'attendance')">
        </mat-form-field>
      </form>
      <form [formGroup]="fourthFormGroup">
        <mat-form-field>
          <input matInput placeholder="Rating" formControlName="fourthCtrl"
            (keyup)="doFilter($event.target.value, 'rating')">
        </mat-form-field>
      </form>
      <form [formGroup]="fifthFormGroup">
        <mat-form-field>
          <input matInput placeholder="Event type" formControlName="fifthCtrl" (keyup)="doFilter($event.target.value, 'type')">
        </mat-form-field>
      </form>
    </section>
  </mat-expansion-panel>
</mat-accordion>
<mat-table [dataSource]="eventSource" matSort>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Event</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="date_from">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Date from</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.date_from | date: 'dd.MM.yyyy' }}
      <br />{{ element.date_from | date: 'hh:mma' }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="date_to">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Date to</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.date_to | date: 'dd.MM.yyyy' }}
      <br />{{ element.date_to | date: 'hh:mma' }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="location">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Location</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.location }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="event_type">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.event_type }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="attendance">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Attendance</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.attendance }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="rating">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Rating</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.rating }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-raised-button color="accent" (click)="joinEvent(row.id)">Attend!</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let rows; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,20,50,100]"></mat-paginator>