<section  fxLayoutAlign="center center" fxLayout="column" class="sectionClass">
  <mat-card>
      <mat-card-header fxLayoutGap="100px" >
          <div mat-card-avatar ><img mat-card-image src={{imgSRC}} class="resize-img"/></div>
          <mat-card-title>{{userToShow.fname }} {{userToShow.lname }}</mat-card-title>
          <mat-card-subtitle>Customer</mat-card-subtitle>
       </mat-card-header>
       <mat-card-content>
          <button *ngIf="userIDtoShow == usersService.getCurrenSession().id_user" mat-stroked-button color="primary"  (click)="editProfile()">Edit</button>
          <mat-list >              
              <mat-list-item><mat-icon>mail_outline</mat-icon>Email:</mat-list-item>
              <p class="gray-text" fxLayoutGap="100px" fxLayoutAlign="center center">{{userToShow.contact_email}}</p>
              <mat-divider></mat-divider>
              <mat-list-item><mat-icon>phone</mat-icon>Phone: </mat-list-item>
              <p class="gray-text" fxLayoutGap="100px" fxLayoutAlign="center center">{{userToShow.contact_phone}}</p>
              <mat-divider></mat-divider>
              <mat-list-item><mat-icon>home</mat-icon>Address: </mat-list-item>
              <p class="gray-text" fxLayoutGap="100px" fxLayoutAlign="center center">{{userToShow.contact_address}}</p>
              <mat-list-item><mat-icon>star</mat-icon>Interest: </mat-list-item>
              <p class="gray-text" fxLayoutGap="100px" fxLayoutAlign="center center">{{userToShow.interest}}</p>
            </mat-list>
       </mat-card-content> 

      </mat-card>
</section>



